<p id="notice"><%= notice %></p>
<div class="container">

  <p id="notice"><%= notice %></p>


  <h4><strong><%= @tune.tunename.capitalize %></strong></h4>

  <div class="video_player">
    <%= video_tag(url_for(@tune.video), style:'width:auto; height:100%', controls: '' ) %>
  </div>

  <strong>Key: </strong><%= @tune.key.capitalize %><br>
  <% if @tune.fiddle_tuning %>
    <strong>Fiddle Tuning: </strong><%= @tune.fiddle_tuning.upcase %><br>
  <% end %>
  <% if @tune.banjo_tuning %>
    <strong>Banjo Tuning: </strong><%= @tune.banjo_tuning.upcase %><br>
  <% end %>

  <strong>Uploaded By:</strong>
    <%= @tune.user.username %>

  <p><%= @tune.notes %></p>

  <% if current_user && current_user.admin || current_user && current_user.id == @tune.user.id %>
    <%= link_to 'Edit', edit_tune_path(@tune) %> |
  <% end %>
  <%= link_to 'Back', tunes_path %>

</div>

<br><br><br>
